<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<!--foundation icons-->
<link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel="stylesheet" type="text/css">
<h1>New article</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
