<!-- Adding header div -->
<div id="headingtext">
  <h1>The Rhapsody</h1>
</div>
<br>
<div id="descriptiontext">
  <h1>Welcome to the Rhapsody, my technical blog written using Ruby on Rails!</h1>
</div>

  <button class="button secondary"><%= link_to 'My Blog', controller: 'articles' %></button>
