<div class="masthead clearfix small-12 medium-12 columns">
    <div class="container-fluid">
        <h3 class="masthead-brand"><a href="#home"><img src="/assets/programmer.jpg" class="image-logo" alt="The Rhapsody"></a></h3>
        <nav>
            <ul class="nav masthead-nav">
                <li class="active"><a href="#home"></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="cover-container" id="home">
    <div id="canvasAnimation"></div>
    <div class="cover-wrapper">
        <div class="cover-wrapper-inner transparent">
            <div class="container-fluid cover ">
                <p class="cover-hello ">Hello, welcome to</p>
                <h1 class="cover-heading delay-02">The Rhapsody</h1>
                <h2 class="cover-designation delay-04"><span></span></h2>
                <div class="social blue">
                    <span class="icons"><a title="Linkedln" href="https://www.linkedin.com/in/nelsonkimaiga" rel="nofollow" target="_blank"><i class="fi-social-linkedin"></i></a></span>
                    <span class="icons"><a title="GitHub" href="https://www.github.com/nelsonkimaiga" rel="nofollow" target="_blank"><i class="fi-social-github"></i></a></span>
                    <span class="icons"><a title="Twitter" href="https://www.twitter.com/Nelsonguto" rel="nofollow" target="_blank"><i class="fi-social-twitter"></i></a></span>
                </div>
            </div>

        </div>

    </div>
    <div class="cover-button delay-08 transparent">
        <div><a href="" class="button primary">Proceeed to my blog</a></div>
    </div>
</div>



<!-- <div id="headingtext">
  <h1>The Rhapsody</h1>
</div>
<br>
<div id="descriptiontext">
  <h1>Welcome to the Rhapsody, my technical blog written using Ruby on Rails!</h1>
</div> -->

  <!-- <button class="button secondary"><%= link_to 'My Blog', controller: 'articles' %></button> -->
