// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
font-family: 'Raleway', serif;
  src:url("/assets/Raleway-ExtraLight.ttf ");
  src:url("/assets/Raleway-ExtraLightItalic.ttf ");
  src:url("/assets/Raleway-Light.ttf ");
  src:url("/assets/Raleway-Medium.ttf ");
  src:url("/assets/Raleway-Thin.ttf ");
  src:url("/assets/Raleway-BlackItalic.ttf");
font-weight:normal;
font-style:normal;
}

html,
body {
    font-family: 'Raleway', serif;
    color: #666;
    text-align: center;
}
