// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
font-family: 'Raleway', serif;
  src:url("/assets/Raleway-ExtraLight.ttf ");
  src:url("/assets/Raleway-ExtraLightItalic.ttf ");
  src:url("/assets/Raleway-Light.ttf ");
  src:url("/assets/Raleway-Medium.ttf ");
  src:url("/assets/Raleway-Thin.ttf ");
  src:url("/assets/Raleway-BlackItalic.ttf");
font-weight:normal;
font-style:normal;
}

html,
body {
    font-family: 'Raleway', serif;
    color: #666;
    text-align: center;
    background: url("codeheader.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Raleway', serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.button {
    padding-right: 25px;
    padding-left: 25px;
    transition: all .5s ease-in;
}
.cover-button .button:hover {
    background-color: #1e2e4d;
    color: #fff
}

.section-title {
    font-size: 36px;
    font-weight: 300;
    margin: 30px 0 10px 0;
}

/*site logo*/
.image-logo{
    border-radius: 50%;
    border: 0;
}

img{
    border: 2px;
}
